<a> <img src="./assets/logo-1.png" routerLink="" alt="logo" id="logo"> </a>
<form>
  <input type="pseudo" name="" value="Pseudo">
  <input type="motDePasse" name="" value="Mot de passe">
  <!-- <button type="valider" name="valider"><span>valider</span></button>  PROVISOIR POUR LE ROOTING-->
</form>
<button type="button" routerLink="validation"><span>valider</span></button> <!-- PROVISOIR POUR LE ROOTING -->


<button type="submit" id="settings" style="border: 0; background: transparent">
    <img src="./assets/button-settings.png" width="60%" height="60%" alt="settings" />
</button>
